@import 'tailwindcss';
@import './retro-login.css';
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
    --font-sans: 'Montserrat', sans-serif;
    --color-dark: #1d2144;
}

/*Dark mode*/
@custom-variant dark (&:where(.dark, .dark *));

#bg-cover{
    @apply h-screen pb-14 bg-right bg-cover;
    background-image: url('/public/images/landing/background2.jpg');
}

/*
    animation from header home
*/
@keyframes verticalLoop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes verticalLoopImg {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    70% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

.vertical-loop-animation {
    animation: verticalLoop 5s infinite;
}

.vertical-loop-animation-img {
    animation: verticalLoopImg 7s infinite;
}

.filament-modal {
    width: 100% !important; /* Largura completa em telas pequenas */
}

@media (min-width: 640px) {
    .filament-modal {
        max-width: 448px; /* Largura máxima em telas pequenas */
    }
}

@media (min-width: 768px) {
    .filament-modal {
        max-width: 512px; /* Largura máxima para telas médias */
    }
}

@media (min-width: 1024px) {
    .filament-modal {
        max-width: 576px; /* Largura máxima para telas grandes */
    }
}
